h1 {
  outline: 2px solid black;
  padding: 30px;
  text-align: center;
  margin-bottom: 0 auto;
  color: bold black;
}

.Nav-Bar {
  display: flex;
  justify-content: space-around;
  text-align: center;
  outline: 2px solid black;
}

p {
  border-radius: 25px;
  padding: 8px;
  outline: 2px solid black;
}

p:hover {
  color: white;
  background-color: black;
}
